<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="noticias">
<%= image_tag 'maintenance.jpg', height: 120 %>
</div>
<h2 class="noticias"> No momento o sistema está em fase de testes.</h2>
<p class="noticias"> Aqui serão postadas informações sobre a sua utilização e sobre novas funcionalidades.</p>


