

<!-- <div class='row'>
	<div class='container'>
		<legend>Newsfeed</legend>
		<h5>Titulo</h5>
		<p>Abertas as inscrições para o InterReps através do link <%= link_to "Lorem Ipsum", '#', class: 'btn btn-info btn-small' %>  </p> 
	</div></div> -->