<div class='row-fluid'>

	<div class='span12 hero-unit'>
		<div class='span2'>
			<%= image_tag 'maintenance.png', class: 'pull-left' %>
		</div>
		<div class='span10'>
			<h1> No momento o sistema está em fase de testes.</h1>
			<p> Aqui serão postadas informações sobre a sua utilização e sobre novas funcionalidades.</p>
		</div>
	</div>

</div>
