<div class='row-fluid'>

	<div class='span12'>
		<% if notice %>
		<p id="notice"><%= notice %></p>
		<% end %>

		<div class='span2'>
			<%= image_tag 'maintenance.png', class: 'img-rounded' %>
		</div>
		<div class='span10'>
			<h2> No momento o sistema está em fase de testes.</h2>
			<p> Aqui serão postadas informações sobre a sua utilização e sobre novas funcionalidades.</p>
		</div>
	</div>

</div>

