<div class='terms'>
	<h3>Termos de Associação e Responsabilidades</h3>
		<p>Data da Última Revisão: 23/Julho/2013 </p>
			<br>

	<p>Estes termos são parte do ideal da ARU, e são eles que definem o que somos hoje e onde queremos chegar. Só assim conseguiremos que as Repúblicas atuem mais ativamente perante a Associação e, assim, criaremos um ambiente mais propício para elas em Barão Geraldo. Ao acessar ou utilizar nosso sistema, você e sua República concorda com os nossos Termos de Associação e Responsabilidades, que pode ser atualizado conforme o termo nº <b>4</b>.</p>

		<br>

	<ol>
		<li><h5>Definição de República</h5>

			<p>Uma república de estudantes é organização sem fins lucrativos destinada a moradia de estudantes do ensino superior e gerida por estes.</p>
			<ol>
				<li>O imóvel deve ser obrigatoriamente alugado, não podendo ser propriedade de um dos moradores.</li>
				<li>Não existe um morador com "palavra final" sobre as decisões da casa, todos os moradores devem ter igual poder em qualquer decisão.</li>
				<li>O preço final do aluguel deve ser referente somente à divisão dos gastos e provisões e o dinheiro recolhido deve ser utilizado para o pagamento dessas contas, não podendo ser utilizado para incrementar a renda de um dos moradores.</li>
			</ol>
			<p>Ou seja, as moradias devem ser obrigatoriamente "coletivas" para se elegerem à situação de República.</p>
		</li>

		<li><h5>Responsabilidades da República Perante a ARU</h5>

			<p>Texto</p>

			<ol>
				<li>Numero1.</li>

				<li>Numero2.</li>

				<li>Numero3.</li>

			</ol>
		</li>

		<li><h5>Privacidade e Divulgação de Dados</h5>

			<p>Texto</p>

			<ol>
				<li>Numero1.</li>

				<li>Numero2.</li>

				<li>Numero3.</li>

			</ol>
		</li>

		<li> <h5>Alterações</h5>
			<ol>
			<li>Qualquer modificação importante nessas regras será avisada anteriormente durante uma das nossas Reuniões.</li>
			<li>Modificações que necessitem de votação serão aprovadas ou não durante Assembléias.</li>
		</ol>
		</li>

	</ol>
</div>