<div class='terms'>
	<h4>Termos de Associação e Responsabilidades</h4>

	<p>Esses termos são parte do ideal da ARU, e são esses termos que definem o que somos hoje e onde queremos chegar. Só assim conseguiremos que as Repúblicas atuem mais ativamente perante a Associação e conseguiremos criar um ambiente mais propício para elas em Barão Geraldo. Ao acessar ou utilizar nosso sistema, você e sua República concorda com os nossos Termos de Associação e Responsabilidades, que pode ser atualizado conforme o termo nº <b>X</b>.</p>

	<ol>
		<li><h5>Definição de República</h5>

			<p>Uma república de estudantes é organização sem fins lucrativos destinada a moradia de estudantes do ensino superior e gerida por estes.</p>
			<ol>
				<li>O imóvel deve ser obrigatoriamente alugado, não podendo ser propriedade de um dos moradores</li>
				<li>Não existe um morador com "palavra final" sobre as decisões da casa, todos os moradores devem ter igual poder em qualquer decisão</li>
				<li>O preço final do aluguel deve ser referente somente à divisão dos gastos e provisões e o dinheiro recolhido deve ser utilizado para o pagamento dessas contas, não podendo ser utilizado para incrementar a renda de um dos moradores.</li>
			</ol>
			<p>Ou seja, as moradias devem ser obrigatoriamente "coletivas" para se elegerem à situação de República.</p>
		</li>

		<li><h5>Responsabilidades da República Perante a ARU</h5>

			<p>Texto</p>

			<ol>
				<li><p>Numero1.</p></li>

				<li><p>Numero2.</p></li>

				<li><p>Numero3.</p></li>

			</ol>
		</li>

		<li><h5>Privacidade e Divulgação de Dados</h5>

			<p>Texto</p>

			<ol>
				<li><p>Numero1.</p></li>

				<li><p>Numero2.</p></li>

				<li><p>Numero3.</p></li>

			</ol>
		</li>

	</ol>
</div>