<div class='terms'>
	<h3>Termos de Associação e Responsabilidades</h3>
	<p>Data da Última Revisão: 23/Julho/2013 </p>
	<br>

	<p>Estes termos são parte do ideal da ARU, e são eles que definem o que somos hoje e onde queremos chegar. Só assim conseguiremos que as Repúblicas atuem mais ativamente perante a Associação e, assim, criaremos um ambiente mais propício para elas em Barão Geraldo. Ao acessar ou utilizar nosso sistema, você e sua República concorda com os nossos Termos de Associação e Responsabilidades, que pode ser atualizado conforme o termo nº 5.</p>

	<br>

	<ol>
		<li><h5>Definição de República</h5>

			<p>Uma república de estudantes é organização sem fins lucrativos destinada a moradia de estudantes do ensino superior e gerida por estes.</p>
			<ol  type="I" >
				<li>O imóvel deve ser obrigatoriamente alugado, não podendo ser propriedade de um dos moradores.</li>
				<li>Não existe um morador com "palavra final" sobre as decisões da casa, todos os moradores devem ter igual poder em qualquer decisão.</li>
				<li>O preço final do aluguel deve ser referente somente à divisão dos gastos e provisões e o dinheiro recolhido deve ser utilizado para o pagamento dessas contas, não podendo ser utilizado para incrementar a renda de um dos moradores.</li>
			</ol>
			<p>Ou seja, as moradias devem ser obrigatoriamente "coletivas" para se elegerem à situação de República.</p>
		</li>
		<br>

		<li><h5>Responsabilidades da República Perante a ARU</h5>

			<ol type="I">
				<li>Pagar as contribuições quando necessárias.</li>

				<li>Cumprir e fazer cumprir o presente Estatuto.</li>

				<li>Acatar e cumprir deliberações da Diretoria e da Assembleia Geral, no exercício de suas atribuições.</li>

				<li>Zelar pelo nome da Associação e prestigiá-la.</li>

				<li>Manter a decência durante a Assembleia.</li>

				<li>Zelar pelos bens materiais da Associação.</li>

				<li>Respeitar os Diretores da Associação no exercício de suas funções.</li>

				<li>Priorizar a resolução de problemas entre Associados via Associação.</li>

				<li>Denunciar qualquer irregularidade verificada dentro da ARU, para que sejam tomadas providências em Assembleia Geral.</li>

			</ol>
		</li>
		<br>

		<li id='privacy'><h5>Privacidade e Divulgação de Dados</h5>

			<p>Os dados fornecidos ao sistema estão disponíveis seguindo as seguintes definições abaixo.</p>

			<ol type="I">
				<li>
					<p>ARU</p>
					<ul>
						<li>Os dados fornecidos são de visibilidade de todos os Diretores e Administradores do sistema, ficando restrito à esse grupo além da própria República.</li>
					</ul>

				</li>

				<li>
					<p>Outras Repúblicas</p>
					<ul>
						<li><p>Essas tem a oportunidade de ver, além das informações gerais, os dados para Contato, como os seguintes:</p>
							<ol type="i">
								<li>Telefone da República</li>
								<li>Nome do Representante</li>
								<li>Email do Representante</li>
								<li>Celular do Representante</li>
							</ol>


						</li>
					</ul>
				</li>

				<li>Convidados</li>
				<ul>
					<li><p>Usuários que não sejam Repúblicas cadastradas e devidamente aprovadas só estão habilitados a ver dados gerais como: Nome, Tipo, Ano de Fundação, Descrição e Atributos.</p>
					</li>
				</ul>

			</ol>
		</li>
		<br>

		<li><h5>Veracidade das Informações Fornecidas</h5>
			<ol type="I">
				<li>A República, ao se cadastrar, certifica-se de que todas as informações fornecidas são verdadeiras e que está sujeita às punições previstas no Estatuto vigente da Associação de Repúblicas da Unicamp.</li>
				<li>Estatuto: <%= link_to "Clique aqui", 'assets/estatutoARU.pdf', target: '_blank' %></li>
			</ol>
		</li>
		<br>

		<li><h5>Alterações</h5>
			<ol type="I">
				<li>Qualquer modificação importante nessas regras será avisada anteriormente durante uma das nossas Reuniões.</li>
				<li>Modificações que necessitem de votação serão aprovadas ou não durante Assembléias.</li>
			</ol>
		</li>

	</ol>
</div>