<% @comentarios.each do |comment| %>
<% if comment.persisted? %>
<p><%= comment.republica.nome %>:<br/>
<%= comment.texto %></p>
<% end %>
<% end %>

<%= simple_form_for [@servico, @new_comentario], remote: true do |f| %>
<%= f.text_field :texto, label: false, placeholder: "Insira um comentário" %> 
<% end %>