<div class='cadastro_form'>
	<fieldset>
		<legend>Editing republica</legend>

		<%= render 'form' %>

		<%= link_to 'Show', @republica %> |
		<%= link_to 'Back', republicas_path %>
	</fieldset>
</div>