<legend>Nova República!</legend>

<p> <strong>Você está somente a alguns passos de cadastrar a sua República na ARU!</strong> </p>
<p><small> Após o cadastro, a República ainda passará por uma avaliação de seus dados.</small> </p>
<p><small> Para mais informações de como se tornar uma República Associada após o cadastro, 
	entre em <%= link_to 'como se associar', root_url %>.</small> </p>

<hr>
<%= render 'form' %>