<h2>Últimos Cadastros</h2>
<div id='republicas' class='content-box-for-table'><%= render 'last_registrations' %></div>

<h2>Ex-Moradores - Pouco tempo de República</h2>
<div class='content-box-for-table'><%= render 'warning_exmoradores' %></div>

<h2>Lista de Repúblicas</h2>
<%= link_to 'Gerar lista de Repúblicas', admin_dashboard_listadereps_path, class: 'nav-btn nav-btn-a' %>