<h2>Últimos Cadastros</h2>
<div id='republicas'><%= render 'last_registrations' %></div>

<h2>Ex-Moradores Duvidosos</h2>
<%= render 'warning_exmoradores' %>

<h2>Lista de Repúblicas</h2>
<%= link_to 'Clique aqui', admin_dashboard_listadereps_path %>