<header class='jumbotron subhead'>
	<div class='container'>
		<h1>Eventos</h1>
		<p>Crie e edite eventos.</p>
		<%= link_to 'Adicionar Evento' , new_evento_path, class: 'nav-btn nav-btn-c' %>
	</div>

</header>