	<div class='jumbotron masthead'>
		<h1>Sistema de Repúblicas da ARU</h1>
		<p>Cadastre aqui sua República e comece a fazer parte da Associação de Repúblicas da Unicamp!</p>
		<%= link_to "Cadastre sua República", new_republica_registration_path, class: 'btn btn-success btn-large' %>
	</div>

	<div class="bs-docs-social">
			<ul class="bs-docs-social-buttons">
				<li>
					<div class="fb-like" data-href="http://www.facebook.com/republicasunicamp" data-send="true" data-width="450" data-show-faces="true" data-font="arial"></div>
				</li>
			</ul>
	</div>