<% @servicos.each do |servico| %>
<div class='content-box content-box-for-republica'>
	<p><%= servico.nome %></p>
	Categorias:
	<ol>
		<% servico.categorias.each do |cat| %>
		<li><%= cat.nome %></li>
		<% end %>
	</ol>
</div>
<% end %>
