<div class='row-fluid'>
	<div class='span3'>
		<div class='pull-left'>
			<%= link_to image_tag('logo-navyblue.png'), root_path %>
		</div>
	</div>

	<div class='span9'>

		<nav class='nav--site'>
			<ul class="nav--links pull-right">

				<li>
					<%= link_to "Repúblicas", admin_republicas_path %>
				</li>

				<li><a href='http://republicasunicamp.com.br/contato/' target='_blank'>Contato</a></li>

				<li>
					<%= link_to('Logout', destroy_admin_session_path, :method=>'delete') %>
				</li>

			</ul>
		</nav>

	</div>
</div>