<header class='jumbotron subhead'>
	<div class='container'>
		<h1>Eventos</h1>
		<p>Crie e edite eventos.</p>
		<%= link_to 'Adicionar Evento' , new_admin_evento_path, class: 'nav-btn nav-btn-c' %>
		<%= link_to 'Ver Modalidades' , admin_modalidades_path, class: 'nav-btn nav-btn-a' %>
	</div>

</header>