<header class='jumbotron subhead'>
	<div class='container'>
		<h1>Modalidades</h1>
		<p>Crie e edite modalidades.</p>
		<%= link_to 'Criar Modalidade' , new_admin_modalidade_path, class: 'nav-btn nav-btn-c' %>
		<%= link_to 'Ver Eventos' , admin_eventos_path, class: 'nav-btn nav-btn-a' %>
	</div>

</header>