<tr>
    <td>
        <%= ev.nome %>
    </td>
    <td><%= ev.ano %></td>

    <td class='table_actions'>
    	<% if ev.open %>
       		<%= link_to 'Inscrever-se', edit_republica_evento_path(current_republica, ev), class: 'btn btn-info btn-small' %>
        <% else %>
        	<span class="btn btn-inverse btn-small disabled">Fechado</span>
        <% end %>
    </td>
</tr>
