<% if @eventos.any? %>
<div class='content-box-for-table'>
	<table class='table table-condensed'>
	    <thead>
	        <tr>
	            <th>Nome</th>
	            <th>Ano</th>
	            <th>Gerar Ficha de Inscrição</th>
	            <th></th>

	        </tr>
	    </thead>

		    <tbody>

		    <% @eventos.each do |ev| %>
			<%= render partial: 'eventos_box', locals: {ev: ev} %>
			<% end %>

			</tbody>
	</table>

</div>
<% else %>
<div class='content-box-for-table'>
	<h3>Não há eventos disponíveis no momento.</h3>
</div>
<% end %>