<p>Atenção <%= @republica.nome %>!</p>

<p>Você deve atualizar o cadastro de sua República! Caso contrário, dentro de 1 semana a sua conta será desativada.</p>

<p>Em caso de dúvidas, por favor, entre em contato pelo email: contato@republicasunicamp.com.br</p>

<p>Atenciosamente,<br/>
ARU - Associação de Repúblicas da Unicamp</p>

<hr>
<p>Obs: Esse email é gerado automaticamente. Não responda essa mensagem.<br/>
Qualquer dúvida envie um email para: contato@republicasunicamp.com.br</p>