<p>Olá <%= @republica.nome %>!</p>

<p>Sua república já não atualiza o cadastro há cerca de 6 meses.</p>

<p>Por favor, atualize os dados pelo link <%= url %>.</p>

<p>Em caso de dúvidas, por favor, entre em contato pelo email: contato@republicasunicamp.com.br</p>

<p>Atenciosamente,<br/>
ARU - Associação de Repúblicas da Unicamp</p>

<hr>
<p>Obs: Esse email é gerado automaticamente. Não responda essa mensagem.<br/>
Qualquer dúvida envie um email para: contato@republicasunicamp.com.br</p>