<p>Atenção Administrador!</p>

<p>Uma nova República efetuou cadastro e precisa ser avaliada e aprovada!</p>
<p><b>Lembre-se de checar se seus dados estão corretos e se participaram das reuniões, estando de acordo com o Estatuto para que seja aprovada.</b></p>

<p>Os dados são:<br/>
<b>Nome:</b> <%= @republica.nome %><br/>
<b>Email:</b> <%= @republica.email %><br/>
<b>Usuário:</b> <%= @republica.username %></p>

<hr>
<p>Obs: Esse email é gerado automaticamente. Não responda essa mensagem.<br/>
Qualquer dúvida envie um email para: contato@republicasunicamp.com.br</p>