<p>Bem vindo <%= @republica.nome %>!</p>

<p>O administrador aprovou o seu cadastro. Sua conta já está ativa!</p>

<p>Os seus dados são:<br/>
<b>Email:</b> <%= @republica.email %><br/>
<b>Usuário:</b> <%= @republica.username %></p>

<p>Você pode efetuar o Login através do link: <%= @url %></p>

<p>Atenciosamente,<br/>
ARU - Associação de Repúblicas da Unicamp</p>

<hr>
<p>Obs: Esse email é gerado automaticamente. Não responda essa mensagem.<br/>
Qualquer dúvida envie um email para: contato@republicasunicamp.com.br</p>