<div class='content-box left-menu'>
	<ul>
		<li><%= link_to 'Editar República', edit_admin_republica_path(@republica), class: 'nav-btn nav-btn-a nav-btn-small' %></li>
		 <li><%= link_to 'Editar Atributos', edit_admin_republica_atributo_path(@republica), class: 'nav-btn nav-btn-a nav-btn-small' %></li>
		<li><%= link_to 'Moradores', admin_republica_moradores_path(@republica), class: 'nav-btn nav-btn-a nav-btn-small' %></li>
		<li><%= link_to 'Ex-moradores', republica_index_exmoradores_path(@republica), class: 'nav-btn nav-btn-a nav-btn-small' %></li>
	</ul>
</div>