/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 *= require_tree .
 */


 .field_with_errors .message {
 	color: white;
 	font-size: 12px;
 	display: inline-block;
 	float: none;
 	border: 1px solid black;
 	background-color: #D00;
 	width: auto;
 	padding: 0.5em;
 	padding-top: 0.2em;
 	padding-bottom: 0.2em;
 	text-align: left;
 }

 #error_explanation {
 	width: 450px;
 	border: 2px solid red;
 	padding: 7px;
 	padding-bottom: 0;
 	margin-bottom: 20px;
 	background-color: #f0f0f0;
 	h2 {
 		text-align: left;
 		font-weight: bold;
 		padding: 5px 5px 5px 15px;
 		font-size: 12px;
 		margin: -7px;
 		margin-bottom: 0px;
 		background-color: #c00;
 		color: #fff;
 	}
 	ul li {
 		font-size: 12px;
 		list-style: square;
 	}
 }

 #sidebar {
 	background-color: #eee;
 	padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

#steps {
	list-style: none;
	margin-left: 0px;

	li {
		font-size: 24px;
		padding: 10px;
		color: #B0B1B3;
		display: inline-block;
	}

	li.current {
		color: black;
	}

	span {
		font-size:11px; 
		display: block;
	}

}

fieldset {
	width: 400px;

	.next_btn {
		float: right;
	}

	#remover_btn {
		float: right;
		margin-bottom: 10px;
	}

	#moradores {
		width: auto;
	}
}