.content-box.left-menu {
	width: auto; 
	float: left;
	padding: 10px 19px 14px;
	margin-right: 15px;

	ul {
		list-style: none;
		white-space: nowrap;
		margin: 0;
	}

	li {
		margin-top: 10px;	
	}

}