// Place all the styles related to the Republicas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.list_line_odd
{
	background-color:#f0f0f0;
}

div.list_line_even
{
	background-color:#ffffff;
}

/* START_HIGHLIGHT */

  /* Uma República */

  #logotipo {
  	width: 40px;
  }

  #logo_show {
  	width: 150px;
  	margin-bottom: 10px;
  }

  .table td {
  	text-align: center;   
  	vertical-align: middle;
  }

  .table th {
  	text-align: center;   
  }

/* END_HIGHLIGHT */

