// Place all the styles related to the servicos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

legend {
	margin-bottom: 0;
}

.categoria-tags {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 10px;
}


.avaliacao-stars {
	position: absolute;
	top: 5px;
	right: 10px;
	color: #043f5a;
}

.comentarios-link {
	position: relative;
	top: 2.4px;
	left: 1px;
	z-index: 10;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
	background: white;
	border-radius: 0 0 3px 3px;
}

ul.inline-list {
	list-style: none;
	li {
		display: inline;
	}
}

.content-box.categories-menu {
	padding: 10px 19px 14px;

	a {
		margin: 5px 0 5px 0;
	}

	ul {
		white-space: nowrap;
		margin: 5px 0 10px 0;
	}

	ul:last-child {
		margin: 0;
	}
}

.servico-edit {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

p.servico-edit {
	bottom: 0;
	color: #5a5a5a;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

	line-height: 20px;
}

.content-box-for-servico {
	min-height: 150px;
	p {
		font-size: 13px;
	}
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

	h2 {
		margin-top: 0;
	}
}

.content-box.content-box-for-servico {
	padding: 33px 19px 14px;
	margin-bottom: -5px;
	margin-top: 60px;
}


.content-box.content-box-for-servico:first-child {
	margin-top: 15px;
}

.content-box-for-servico .content {
	margin: 0 0 40px 0;
}

.comentarios {
	background-color: #043f5a;
	color: white;
	padding: 20px 20px 15px;
	border-radius: 5px;
	display: none;
}