// Place all the styles related to the Sistema controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#noticias {
	img {
		display:block;
		margin-left: auto;
		margin-right: auto;
	}

	h2 { 
		text-align: center;
	}

	p {
		text-align: center;
	}

}