<p>Olá <%= @resource.nome %>!</p>

<p>Para continuar o seu cadastro, primeiramente você deve confirmar sua conta de email.<br/>Depois da confirmação, você deverá esperar que sua conta seja aprovada pela ARU para efetuar o Login.</p>

<p>(caso essa seja somente uma mudança de email, desconsidere essa mensagem e apenas confirme seu email)</p>

<p>Você pode confirmar sua conta de email acessando o link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<hr>

<p>Para dar início ao processo de associação da sua República, você deve comparecer na próxima reunião, quando será explicado os termos do Estatuto.</p>

<p>Confira abaixo os Termos de Associação, juntamente com o Estatuto.</p>

<p><%= link_to "Termos de Associação", 'http://cadastro.republicasunicamp.com.br/terms', target: "_blank" %><br/>
<%= link_to "Estatuto", 'http://cadastro.republicasunicamp.com.br/assets/estatutoARU.pdf', target: '_blank' %></p>

<p>Atenciosamente,<br/>
ARU - Associação de Repúblicas da Unicamp</p>

<hr>
<p>Obs: Esse email é gerado automaticamente. Não responda essa mensagem.<br/>
Qualquer dúvida envie um email para: contato@republicasunicamp.com.br</p>