<p>Bem vindo <%= @resource.nome %>!</p>

<p>Você pode confirmar sua conta de email acessando o link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Atenciosamente,</p>
<p>ARU - Associação de Repúblicas da Unicamp</p>