<p>Olá <%= @resource.nome %>!</p>

<p>Alguém efetuou um pedido para troca de senha. Você pode fazer isso pelo link abaixo.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não fez esse pedido, por favor ignore esse email.</p>
<p>Sua senha não mudará a não ser que você acesse o link abaixo e crie uma nova.</p>

<p>Atenciosamente,</p>
<p>ARU - Associação de Repúblicas da Unicamp</p>