<p>Olá <%= @resource.nome %>!</p>

<p>Sua conta foi bloqueada devido a um número excessivo de tentativas não sucedidas de Login.</p>

<p>Clique no link abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

<p>Atenciosamente,</p>
<p>ARU - Associação de Repúblicas da Unicamp</p>