<p>Copyright © <%= Date.today.year %> <b>ARU - Associação de Repúblicas da Unicamp</b>. Todos os direitos reservados.</p>

<ul class='footer-links'>
	<li><%= link_to 'Site', 'http://www.republicasunicamp.com.br' %></li>
	<li>·</li>
	<li><%= link_to 'Fanpage', 'http://www.facebook.com/republicasunicamp' %></li>
</ul>